<!DOCTYPE html>
<html>
<head>
  <title>Bicinet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">		
  <link rel="stylesheet" href="/static/css/lib/jquery-mobile/jquery.mobile-1.2.0.min.css" />
  <script src="/static/js/lib/jquery-1.8.2.min.js"></script>
  <script src="/static/js/lib/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>

  <div data-role="page" id="home">
    <div data-role="header" data-theme="b" data-position="fixed">
      <a href="#home" data-icon="home" data-iconpos="notext">Home</a>
      <h1>Bicinet</h1>
    </div>
    <div data-role="content">
      <img src="/static/img/bicinet-logo.png" />
      <p>
        <form action="{% url login %}" method="POST">
	  <div data-role="fieldcontain" class="ui-hide-label">
	    <label for="usuario">Usuario:</label>
	    <input type="text" name="username" id="usuario" value="" placeholder="Usuario"/>
	  </div>
	  <div data-role="fieldcontain" class="ui-hide-label">
	    <label for="clave">Contraseña:</label>
	    <input type="text" name="password" id="clave" value="" placeholder="Contraseña"/>
	  </div>
	  <button type="submit" name="submit" value="submit" data-theme="b">Enviar</button>
	</form>

      <p>
    </div>
    <div data-role="footer" class="ui-bar" data-theme="b" data-position="fixed" data-id="footer">
      <a href="#about" data-icon="info">Acerca de</a>
    </div>
  </div>

  <div data-role="page" id="about">
    <div data-role="header" data-theme="b" data-position="fixed">
      <a href="#home" data-icon="home" data-iconpos="notext">Inicio</a>
      <h1>Acerca de</h1>
      <a href="#home" data-icon="arrow-l" data-rel="back">Volver</a> 
    </div>
    <div data-role="content">
      <p>Universidad de los Andes. Location Based Services - 2012</p>
    </div>
    <div data-role="footer" class="ui-bar" data-theme="b" data-position="fixed" data-id="footer">
      <a href="#about" data-icon="info">Acerca de</a>
    </div>
  </div>

</body>
</html>
