<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML><HEAD>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<SCRIPT src="/static/openlayers/OpenLayers.js"></SCRIPT>
<!-- OpenStreetMap base layer js -->
<SCRIPT src="/static/js/lib/OpenStreetMap.js"></SCRIPT>
<SCRIPT src="/static/js/lib/js.js"></SCRIPT>
<SCRIPT src="/static/js/sitios.js"></SCRIPT>

<body>

<DIV id=map></DIV>

<DIV id=coordinates></DIV>

<DIV id=ZoomLevel></DIV>


</BODY></HTML>
