<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html><head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/openlayers/OpenLayers.js"></script>
<!-- OpenStreetMap base layer js -->
<script src="/static/js/lib/OpenStreetMap.js"></script>
<script src="/static/js/lib/js.js"></script>
<script src="/static/js/sitios.js"></script>

<body>

<div id=map></div>

<div id=coordinates></div>

<div id=ZoomLevel></div>


</body></html>
